* {
  margin: 0;
}
/* LINKS */

body {
  background-color: #120536;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;

  height: 100%;
}
.navbar img {
  cursor: pointer;
  height: 2vw;
}
.hamb {
  display: none;
  transform: scale(2);
  color: whitesmoke;
}
ul li {
  list-style: none;
  text-decoration: none;
  margin: 0px 20px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}
ul {
  display: flex;
}
.nav-btn {
  padding: 12px 30px;
  border-radius: 20px;
  background: linear-gradient(112.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
  border: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: whitesmoke;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .navbar ul {
    display: none !important;
  }
  .nav-btn {
    display: none !important;
  }
  .hamb {
    display: block !important;
    cursor: pointer;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
  }
}
/* BACKGROUND GRADIENT */
.gradient {
  position: absolute;
  width: 555px;
  height: 555px;
  left: -257px;
  top: -41px;
  z-index: -9;

  background: rgba(214, 34, 218, 0.59);
  filter: blur(247px);
}
.overflow {
  width: 100%;
}
.gradient1 {
  position: absolute;
  width: 555px;
  height: 555px;
  left: 927px;
  top: 270vh;
  z-index: -9;

  background: rgba(214, 34, 218, 0.59);
  filter: blur(247px);
}
.gradient2 {
  position: absolute;
  width: 555px;
  height: 555px;
  left: -257px;
  top: -41px;
  z-index: -9;
  background: rgba(214, 34, 218, 0.59);
  filter: blur(247px);
}
.bg-color {
  width: 100vw;
}
/* PART-1 CSS */
.part1 {
  width: 100%;
}
.dream-nft {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
  color: white;
  font-size: 4vw;
  font-weight: 800;
  /* font-size: 94px; */
  line-height: 5.5vw;
}
.dream-nft span {
  background: linear-gradient(112.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.des {
  display: flex;
  justify-content: flex-start;
  margin: 2vw 10px;
  align-items: center;
  width: 100%;
}
.des-ratio img {
  max-width: 8vw;
  margin: 10px 10px 10px 0px;
}

.des p {
  /* word-wrap: break-word; */
  width: 30vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1vw;
  color: #ffffff;
  max-width: 35vw;
  letter-spacing: 0px;
  line-height: 1.5vw;
}
.artist-like-2 {
  display: flex;
  /* justify-content: center; */
  margin-top: 4vw;
}
.art {
  margin: 5px 20px;
}
.art h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  font-size: 1vw;

  margin-bottom: 5px;
}
.art h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.7vw;
}
.part1-display {
  display: flex;
  justify-content: space-between;
  margin: 6% 5%;
  align-items: center;
  width: 80vw;
}
.part1-img {
  width: 40vw;
  height: 35vw;
}
.part1-img-ratio img {
  width: 100%;
}
.part1-text {
  margin: 0px 0px 0px 0px;
  width: 100%;
}
.img-effect {
  display: flex;
  position: relative;
}
.img-1 {
  /* width: 100%; */
  z-index: 2;
  position: absolute;
  top: 10px;
  animation: img 5s linear infinite;
}
@keyframes img {
  0% {
    transform: translateX(-1.5%);
  }
  50% {
    transform: translateX(1.5%);
  }
  100% {
    transform: translateX(-1.5%);
  }
}
@keyframes img1 {
  0% {
    transform: translateX(-1%);
    transform: translateY(-1%);
  }
  50% {
    transform: translateX(1%);
    transform: translateY(1%);
  }
  100% {
    transform: translateX(-1%);
    transform: translateY(-1%);
  }
}
@keyframes img2 {
  0% {
    transform: translateX(-1%);
    transform: translateY(-1%);
  }
  50% {
    transform: translateX(1%);
    transform: translateY(1%);
  }
  100% {
    transform: translateX(-1%);
    transform: translateY(-1%);
  }
}
.img-2 {
  /* width: 100%; */
  position: absolute;
  z-index: 1;
  left: -4vw;
  top: -3vw;
  animation: img1 2.5s linear infinite;
}
.img-3 {
  left: 4vw;
  top: 4vw;
  z-index: 0;
  position: absolute;
  animation: img2 3.5s linear infinite;
}

/* Brand Company  */
.brandCompany {
  margin: 6% 5%;
}
.company-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.company-logo img {
  width: 100%;
}
.comp-logo-ratio {
  margin: 0% 5%;
}
/* CARDS */
.cards-btns {
  display: flex;
  overflow-x: auto;
}
.cards {
  margin: 20px 5%;
}
.cards h1 {
  font-size: 3vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}
.card-btn-s {
  padding: 12px 30px;
  /* padding: 1vw 2.2vw; */
  border-radius: 20px;
  background: rgba(128, 128, 128, 0.377);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  /* font-size: 1.2vw; */
  font-size: 1.15vw;
  /* line-height: 19px; */
  color: whitesmoke;
  cursor: pointer;
  margin: 20px 30px 20px 0px;
  white-space: nowrap;
  /* transition: all 0.5s; */
  /* transition: all 1s; */
}
.active {
  background: linear-gradient(132.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
}
.cards-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.show {
  display: none;
}
.monkeycard {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 19vw;
  min-width: 200px;
  height: auto;
  border: 1px solid pink;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 10px 10px;
  font-family: "Inter", sans-serif;
}
.card-img {
  width: 100%;
}
.eth {
  display: flex;
  align-items: center;
  color: #815ee3;
  font-weight: 300;
  font-size: 0.9rem;
}
.eth img {
  margin: 0px 5px 0px 0px;
}
.eth1 {
  display: flex;
  margin-top: 10px;

  align-items: center;
  justify-content: space-between;
}
.monkeycard hr {
  margin: 10px 0px 5px 0px;
  color: #00000000;
  opacity: 0.5;
}
.monkeycard h3 {
  margin-top: 5px;
}
.paging {
  font-weight: 300;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.39);
}
.eth1 button {
  border-radius: 15px;
  border: 0px solid black;
  padding: 5px 10px;
  background-color: rgb(206, 169, 253);
  color: #815ee3;
}
.eth1 h4 {
  font-weight: 600;
  font-size: 0.9rem;
  color: blue;
  cursor: pointer;
}
.card-btn {
  margin: 10px auto;
  cursor: pointer;
  padding: 1vw 2.2vw;
  border-radius: 20px;
  background: linear-gradient(112.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
  border: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: whitesmoke;
  cursor: pointer;
}
.btn-display {
  display: flex;
}
/* SELL NFT  */
.sellNFT {
  margin: 10px 5%;
  display: flex;
  flex-direction: column;
}
.sellNFT h1 {
  font-family: "Inter", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  line-height: 58px;
  color: white;
  margin-bottom: 2vw;
  margin-top: 1.5vw;
}
.frames {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 1vw;
}

.sell-nft {
  min-width: 200px;
  max-width: 350px;
  border: 0px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px auto;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #251163;
}
.sell-nft h1 {
  font-size: 24px;
  line-height: 10px;
  font-family: "Inter";
  font-weight: 600;
}
.sell-nft h2 {
  font-family: "Inter";

  font-size: 20px;
  font-weight: 300;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}
.nft-img {
  width: 27vw;
  margin: 0.5vw 0.5vw;
}
.nft-img img {
  width: 100%;
}
.frames1 img {
  width: 100%;
}
.emp-name {
  margin: 5px 5px;
  width: 27vw;
}
.emp-name-2 img {
  height: 61px;
  width: 61px;
  margin: 0px 20px 0px 0px;
}
.emp-name-2 {
  background-color: #251163;
  border: 0px solid black;
  width: 350px;
  padding: 5px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 10px auto;
}
.emp-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 9px;
}
.emp-name-2 h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 10px;
  margin: 5px;
}
.emp-name-2 h2 {
  margin-top: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  color: whitesmoke;
  font-size: 15px;
  line-height: 30px;
}

.frames1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* BANNER */
.banner {
  /* width: 100%; */
  overflow-x: hidden;
  position: relative;
}
.banner-ratio {
  width: 100%;
  background: linear-gradient(112.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
}

.banner-ratio h1 {
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 253, 253);
  white-space: nowrap;
  animation: ani 25s linear infinite;
  /* animation-delay: 40s; */
}
@keyframes ani {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes ani2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
/* Joint Banner  */
.joint-banner {
  margin: 10px auto;
  width: 80vw;
  display: flex;
}
.joint-ban img {
  width: 100%;
  cursor: pointer;
}
.joint-ban-2 {
  width: 100%;
}
.desktop-ban {
  background: url(./images/cards/section-join-community.png) no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  min-height: 300px;
  height: auto;
  position: relative;
}
.exm2 {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.desktop-ban p {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: white;
  font-size: 40px;
  /* line-height: 15vw; */
}
.exm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.exm button {
  min-height: 30px;
  min-width: 100px;
  padding: 10px 40px;
  border-radius: 15px;
  border: 0px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
}

/* Footer  */
.footer {
  margin-top: 0px;
}
.footer-main {
  margin: 1% 5%;
}
.footer-main hr {
  opacity: 0.4;
  color: black;
  border-color: rgb(255, 250, 250);
  border-radius: 50%;
}
.footer-main h2 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;

  line-height: 24px;
  color: #ffffff5e;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
}
/* MEDIA QUERY */
@media only screen and (max-width: 475px) {
  .dream-nft {
    font-size: 7vw;
  }
  .part1-display {
    display: flex !important;
    flex-direction: column !important;
  }
  .discover-btn-display {
    display: flex;
  }
  .discover-btn {
    padding: 10px 40px;
    min-height: 30px;
    min-width: 100px;
    margin: 0px auto;
    border-radius: 15px;
    border: 0px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    font-family: "Inter";
    color: whitesmoke;
    font-style: normal;
    background-color: rgb(66, 115, 250);
  }
  .des h6 {
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
  }
  .des p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    word-wrap: break-word;
  }
  .artist-like-2 {
    display: flex;
    /* justify-content: center; */
    margin-top: 3vw;
  }
  .art {
    margin: 5px 20px;
  }
  .art h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 3vw;
    margin-bottom: 5px;
  }
  .art h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    font-size: 6vw;
    margin-bottom: 20px;
  }
  .part1-img {
    width: 70vw;
  }
  .company-logo {
    flex-wrap: wrap !important;
    justify-content: center;
    width: 100%;
  }
  .company-logo img {
    min-width: 50px;
    max-width: 110px;
  }
  .card-btn {
    padding: 10px 45px;
  }
  .nft-img {
    width: 300px;
    margin: 0.5vw 0.5vw;
  }
  .sellNFT h1 {
    font-size: 1.5rem;
  }
  .emp-name {
    margin: 5px 5px;
    width: 300px;
  }
  .navbar img {
    height: 15px;
  }
  .cards h1 {
    font-size: 1.5rem;
  }
  .card-btn-s {
    font-size: 14px;
  }
  .monkeycard {
    min-width: 270px;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .hamb {
    transform: scale(1.5);
  }
  .desktop-ban {
    background: url(./images/cards/section-join-community2.png) no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
    min-height: 300px;
    height: auto;
    position: relative;
  }
}
